{% extends "diffusion/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
patches {{ app_name|title }}
{% endblock %}

{% block content %}
<h1>Issues</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="{% url 'diffusion.views.project.issues' project_id=project.list_id %}">Issues</a></li>
  <li role="presentation"><a href="{% url 'diffusion.views.project.patches' project_id=project.list_id %}">Patches</a></li>
  <li role="presentation"><a href="{% url 'diffusion.views.project.series' project_id=project.list_id %}">Series</a></li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th class="col-md-1 text-center">Status</th>
      <th class="col-md-1 text-center">Type</th>
      <th class="col-md-5">Subject</th>
      <th class="col-md-2">Submitted</th>
      <th class="col-md-2">Author</th>
      <th class="col-md-1 text-center">Comments</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in issues %}
    <tr>
      <td class="text-center">
        <span class="label {% if issue.state == "closed" %}label-danger{% else %}label-success{% endif %}">{{ issue.state|title }}</span>
      </td>
      <td class="text-center">
        <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Show all issues"><i class="fa fa-exclamation"></i></a>
      </td>
      <td>
        {{ issue.title }}
      </td>
      <td>
        {{issue.date|naturaltime}}
      </td>
      <td>
        <a href="mailto:{{issue.author.email}}">{{issue.author.name}}</a>
      </td>
      <td class="text-center">
        <span class="badge">0</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
